/* Home */

.hero {
  // border: red 2px solid;
  box-sizing: border-box;
  position: relative;
}

.hero .img1 {
  height: 100%;
  width: 100%;
  height: 450px;
  object-fit: cover;
  box-sizing: border-box;
}

.hero .bloc-hero {
  background-color: white;
  position: absolute;
  padding: 50px;
  max-width: 260px;
  max-height: 150px;
  left: 80px;
  top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bloc-hero p {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 40px;
  font-weight: bold;
}

.bloc-hero button {
  background-color: #2baeb7;
  color: white;
  padding: 15px;
  border: none;
  width: 190px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.hero .img2 {
  // border: green 2px solid;
  max-width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.ads {
  /* border: 2px solid purple; */
  display: flex;
  width: 235px;
  height: 430px;
  flex-direction: column;
  margin-bottom: 15px;
}

.ads:not(:last-child) {
  margin-right: 10px;
}

.ads img {
  box-sizing: border-box;
  /* border: green 2px solid; */
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.ads .p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  color: #999999;
  padding: 10px;
  font-weight: bolder;
}

.priceOffer {
  font-size: 16px;
  font-weight: bolder;
  color: black;
  margin-bottom: 5px;
}

.bloc-ad {
  //  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.button-page button {
  width: 250px;
  border: none;
  background-color: #2baeb7;
  color: white;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  font-size: 13px;
}

.button-page {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-page > button {
  margin-right: 20px;
}

.howManyOffers {
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

.bloc-hero-hidden {
  display: none;
}

.home-searchBar {
  display: none;
}

// MEDIA QUERIES //

@media (max-width: 1184px) {
  .hero .bloc-hero {
    padding: 40px;
  }

  .bloc-hero p {
    font-size: 30px;
    line-height: 40px;
  }

  .bloc-hero button {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .hero .bloc-hero {
    padding: 40px;
    max-width: 230px;
    max-height: 130px;
  }

  .bloc-hero p {
    font-size: 25px;
    line-height: 30px;
  }

  .bloc-hero button {
    padding: 10px;
    border: none;
  }
}

@media (max-width: 768px) {
  .hero .bloc-hero {
    display: none;
  }
  .bloc-hero-hidden {
    display: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bloc-hero-hidden p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .bloc-hero-hidden button {
    background-color: #2baeb7;
    color: white;
    padding: 6px;
    border: none;
    width: 400px;
    border-radius: 2px;
    cursor: pointer;
  }
  .hero .img1 {
    height: 100%;
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-sizing: border-box;
  }

  .howManyOffers {
    font-size: 16px;
    margin-top: 30px;
  }

  .bloc-ad {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .button-page button {
    width: 170px;
    border-radius: 5px;
    font-size: 10px;
  }

  .home-searchBar {
    position: relative;
    display: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-fa-icone {
    position: absolute;
    left: 70px;
    top: 25px;
    color: #bbbbbb;
    padding-left: 10px;
    font-size: 15px;
  }
}
