/* Offers */
.main-bloc-offer {
  height: 100vh;
  background-color: #ecedee;
  padding: 10px;
}

.bloc-offer {
  height: 90%;
  max-width: 100%;
  margin: 30px 200px;
  display: flex;
  justify-content: space-between;
}

.left-bloc {
  /* border: green 2px solid; */
  width: 45%;
}

.left-bloc img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-bloc {
  /* border: 2px solid red; */
  width: 35%;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-part-right {
  height: 40%;
  border-bottom: 1px solid lightgrey;
}

.price-offer {
  margin-bottom: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}

.offer-list {
  display: flex;
  padding: 2px 0;
}

.offer-list span {
  flex: 1;
  font-size: 14px;
  text-transform: uppercase;
}

.offer-list span:nth-child(odd) {
  color: #999;
  font-weight: bold;
}

.offer-list span:nth-child(even) {
  color: #454747;
  font-weight: bold;
}

.bottom-part-right {
  /* border: black 2px solid; */
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-part-right .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}

.bottom-part-right .description {
  color: #666;
  font-weight: bold;
  font-size: 16px;
}

.pay-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-part-right button {
  width: 290px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 15px;
  border: none;
  background-color: #2eb0ba;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}

.bottom-part-right button:hover {
  cursor: pointer;
}

// MEDIA QUERIES //

@media (max-width: 1024px) {
  .bloc-offer {
    height: 550px;
    margin: 30px 100px;
  }

  .right-bloc {
    width: 45%;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .main-bloc-offer {
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  .bloc-offer {
    background-color: white;
    height: calc(100% - 30px);
    margin: 5px 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .left-bloc {
    width: 35%;
  }

  .left-bloc img {
    margin-top: 20px;
    object-fit: contain;
  }

  .right-bloc {
    width: calc(100% - 40px);
    height: 100%;
    padding: 20px;
  }

  .top-part-right {
    height: 50%;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  .bottom-part-right button {
    width: 400px;
  }
}
