// PAYMENT

.main-payment-container {
  height: 100vh;
  background-color: #ecedee;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-container {
  background-color: white;
  width: 600px;
  box-sizing: border-box;
  padding: 30px;
}

.pay {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.button-pay {
  margin-top: 10px;
  color: white;
  background-color: #00bf6d;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}

.accueil {
  font-size: 15px;
  margin-top: 20px;
}

.content li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content .bold {
  font-weight: bold;
  font-size: 18px;
}

.middle-bloc-pay {
  font-size: 17px;
  margin-top: 50px;
}

// summary

.payment-card {
  background: #ffffff;
}

.payment-card > .title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  padding: 24px 24px 8px;
}

.payment-card .content {
  padding: 24px;
  text-align: justify;
}

.payment-card .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
  margin: 30px 0;
}
