/* Header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.searchBar {
  font-size: 15px;
  height: 20px;
  width: 500px;
  background-color: #f5f6f7;
  border: none;
  padding: 20px;
  border-radius: 10px;
  outline: none;
}

.sell-articles {
  background-color: #2eb0ba;
  color: white;
  margin-left: 50px;
}

.header button:hover {
  cursor: pointer;
}

.header button {
  font-size: 12px;
  width: 120px;
  height: 28px;
  border: none;
  padding: 7px;
  border-radius: 7px;
}

.header .log {
  background-color: white;
  color: #2eb0ba;
  border: 1px solid #2eb0ba;
  margin-right: 20px;
}

.logo {
  height: 40px;
  width: 104px;
}

.disconnect {
  background-color: #c2175b;
  color: white;
}
