.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px black solid;
    padding: 20px;
   
}

.bloc-offer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.left-bloc{
    border: green 2px solid;
}

.right-bloc{
    border: 2px solid red;
}